DATA/archive/coin_Tron.csv
DATA/archive/coin_Uniswap.csv
DATA/archive/coin_USDCoin.csv
DATA/archive/coin_WrappedBitcoin.csv
DATA/archive/coin_XRP.csv
DATA/archive/coin_Tether.csv
DATA/archive/coin_Solana.csv
DATA/archive/coin_Stellar.csv
DATA/archive/coin_Polkadot.csv
DATA/archive/coin_NEM.csv
DATA/archive/coin_Monero.csv
DATA/archive/coin_Litecoin.csv
DATA/archive/coin_Iota.csv
DATA/archive/coin_Ethereum.csv
DATA/archive/coin_EOS.csv
DATA/archive/coin_Dogecoin.csv
DATA/archive/coin_Cosmos.csv
DATA/archive/coin_CryptocomCoin.csv
DATA/archive/coin_ChainLink.csv
DATA/archive/coin_Cardano.csv
DATA/archive/coin_Bitcoin.csv
DATA/archive/coin_BinanceCoin.csv
DATA/archive/coin_Aave.csv
.DS_Store
